#library-collection {
    /*outline setup start*/
    border: thin dashed green ;
    /*height: 960px;*/
    /*outline setup end */
}

#library-collection-header {
    /*outline setup start*/
    border: thin dashed green ;
    height: 50px;
    /*outline setup end */
}

#book-card-section{
    /*outline setup start*/
    border: thin dashed green ;
    /*height: 200px;*/
    /*outline setup end */

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.book-card {
    /*outline setup start*/
    /* border: thin dashed green ; */
    
    /*outline setup end */

    height: 220px;
    width: 300px;

    margin: 5px;

    border: thin solid black;
}

.new-book-section {
    /*outline setup start*/
    border: thin dashed green ;
    height: 150px;
    /*outline setup end */

    

    display: none;
    flex-direction: column;
}

.new-book-details{
    width: 350px;
}

#new-book-button{
    width: 100px;
}

.book-card-subdiv {
    display: flex;
    
}